.nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: auto;
    padding: 1rem 2rem;
    background: #fff;
    display: flex;
    height: fit-content;
    z-index: 9;
    height: 40px;
    box-shadow: 0 3px 2px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    align-items: center;
}

body {
    margin: 0;
    height: 100vh;
    /*background: #F5F5F5;*/
}

*:not(code) {
    font-family: Inter, system-ui, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

.headerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #000;
}

.nav * {
    user-select: none;
}

.playground {
    height: calc(100vh - 72px);
    display: flex;
    position: absolute;
    top: 72px;
    width: 100%;
    overflow: auto;
}

.input {
    height: fit-content;
    position: sticky;
    top: 0;
}

.plllllllllllllllllllllllll {
    margin: 0 0 0 auto;
    border: solid 1px transparent;
    padding: .5rem 1rem;
    background: #25b950;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.input,
.output {
    height: 100%;
    width: 50%;
    height: fit-content;
}

@media screen and (max-width: 986px) {

    .input,
    .output {
        width: 100%;
    }

    .playground {
        flex-direction: column;
    }

    .title {
        padding-top: 0 !important;
    }

    .input {
        position: static;
    }
}

.p-code {
    border-radius: 6px;
    padding: 16px;
    background: #f6f8fa;
    width: -webkit-fill-available;
    display: block;
    color: #24292f;
    margin-bottom: 1rem;
    font-family: consolas, "lucida console", "courier new", monospace;
}

.p-code::selection,
.p-code *::selection {
    background: rgba(177, 217, 255, 0.8);
}

code * {
    font-family: consolas, "lucida console", "courier new", monospace;
}

.ipt {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: .5rem;
    outline: none;
    font-family: consolas, "lucida console", "courier new", monospace;
    margin: 0 .5rem;
}

.ipt::selection {
    background: rgba(177, 217, 255, 0.8);
}

.ipt-group {
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    user-select: none;
    display: flex;
    align-items: center;
}

.input>*:first-child {
    margin-top: 2rem;
}

.output {
    padding-bottom: 3rem;
}

.title {
    padding: 2rem 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    user-select: none;
}

.h2 {
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
    user-select: none;
}

div#res {
    padding: 0 2rem;
}

.btn {
    font-weight: normal;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    background: #0d6efd;
    color: #fff;
    cursor: pointer;
    margin-left: .5rem;
}

.btn {
    background-color: #0b5ed7;
}